
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #fff;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #229199;
    background: -moz-linear-gradient(top, #047b83, #3fa7af);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#047b83), to(#3fa7af));
    background: -o-linear-gradient(top, #047b83, #3fa7af);
}

.img-box img {
    display: block;
    width: 100%;
}

img {
    vertical-align: middle
}

.screen {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.screen1 {
    background: #49adb3;
}

.logo {
    width: 35%;
    margin: 10% auto 5% auto
}

/* 文字说明背景 */
.box-bg {
    width: 60%;
    padding: 3% 4%;
    margin: 0 auto 5% auto;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px #2892a0;
    border-radius: 20px;
}

.box-bg-top {
    margin-top: 15%
}

/* 文字说明样式1 带有图标的列表 */
.box-text-1 {
    width: 100%;
}

.box-text-1 li {
    position: relative;
    padding-left: 5%;
    letter-spacing: 3px;
}

.box-text-1 li i {
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    content: '';
}

.box-text-1 li i img {
    width: 60%;
    vertical-align: inherit;
}

/* 文字说明样式2  文字剧中显示 */
.box-text-2 {
    padding: 2% 0;
    text-align: center;
    font-weight: bold;
}

.box-text-2 p span {
    color: #00479d;
}

/* 按钮样式 */
.button-box {
    width: 100%;
    height: 8.5%;
    text-align: center;
}

.button {
    display: inline-block;
    height: 100%;
    background: #08cbd8;
    color: #fff;
    padding: 0 40px;
    text-shadow: 2px 2px 2px #666;
    letter-spacing: 20px;
    text-indent: 20px;
    border: solid 1px #08cbd8;
    border-radius: 25px;
    box-shadow: 0 5px 10px -3px #276e73;
}

.button-box-s .button {
    margin: 0 3%;
}

/* 游戏结束 */
.over-text {
    margin: 20% auto 10% auto;
    text-align: center;
    font-size: 54px;
    line-height: 80px;
}

/** 游戏格子 **/

.list {
    position: absolute;
    top: 7.5%;
    left: 7%;
    width: 35%;
    height: 80%;
    padding: 2%;
    box-sizing: content-box;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 5px 30px -5px #666;
}

.list:after {
    display: block;
    clear: both;
    content: '';
}

.list li {
    position: relative;
    width: 100%;
    height: 100%;

}

.list li p {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
}

.list li p.r1-1 {
    background-image: url("../img/res1/r1-1.png")
}

.list li p.r1-2 {
    background-image: url("../img/res1/r1-2.png")
}

.list li p.r1-3 {
    background-image: url("../img/res1/r1-3.png")
}

.list li p.r1-4 {
    background-image: url("../img/res1/r1-4.png")
}

.list li p.r1-5 {
    background-image: url("../img/res1/r1-5.png")
}

.list li p.r1-6 {
    background-image: url("../img/res1/r1-6.png")
}

.list li p.r1-7 {
    background-image: url("../img/res1/r1-7.png")
}

.list li p.r1-8 {
    background-image: url("../img/res1/r1-8.png")
}

.list li p.r1-9 {
    background-image: url("../img/res1/r1-9.png")
}

.list li p.r1-10 {
    background-image: url("../img/res1/r1-10.png")
}

.list li p.r1-11 {
    background-image: url("../img/res1/r1-11.png")
}

.list li p.r1-12 {
    background-image: url("../img/res1/r1-12.png")
}

.list li p.r1-13 {
    background-image: url("../img/res1/r1-13.png")
}

.list li p.r1-14 {
    background-image: url("../img/res1/r1-14.png")
}

.list li p.r1-15 {
    background-image: url("../img/res1/r1-15.png")
}

.list li p.r1-16 {
    background-image: url("../img/res1/r1-16.png")
}

.list li p.r1-17 {
    background-image: url("../img/res1/r1-17.png")
}

.list li p.r1-18 {
    background-image: url("../img/res1/r1-18.png")
}

.list li p.r1-19 {
    background-image: url("../img/res1/r1-19.png")
}

.list li p.r1-20 {
    background-image: url("../img/res1/r1-20.png")
}

.list li p.r1-21 {
    background-image: url("../img/res1/r1-21.png")
}

.list li p.r1-22 {
    background-image: url("../img/res1/r1-22.png")
}

.list li p.r1-23 {
    background-image: url("../img/res1/r1-23.png")
}

.list li p.r1-24 {
    background-image: url("../img/res1/r1-24.png")
}

.list li p.r1-25 {
    background-image: url("../img/res1/r1-25.png")
}

.list li p.r1-26 {
    background-image: url("../img/res1/r1-26.png")
}

.list li p.r1-27 {
    background-image: url("../img/res1/r1-27.png")
}

.list li p.r1-28 {
    background-image: url("../img/res1/r1-28.png")
}

.list li p.r2-1 {
    background-image: url("../img/res2/r2-1.png")
}

.list li p.r2-2 {
    background-image: url("../img/res2/r2-2.png")
}

.list li p.r2-3 {
    background-image: url("../img/res2/r2-3.png")
}

.list li p.r2-4 {
    background-image: url("../img/res2/r2-4.png")
}

.list li p.r2-5 {
    background-image: url("../img/res2/r2-5.png")
}

.list li p.r2-6 {
    background-image: url("../img/res2/r2-6.png")
}

.list li p.r2-7 {
    background-image: url("../img/res2/r2-7.png")
}

.list li p.r2-8 {
    background-image: url("../img/res2/r2-8.png")
}

.list li p.r2-9 {
    background-image: url("../img/res2/r2-9.png")
}

.list li p.r2-10 {
    background-image: url("../img/res2/r2-10.png")
}

.list li p.r2-11 {
    background-image: url("../img/res2/r2-11.png")
}

.list li p.r2-12 {
    background-image: url("../img/res2/r2-12.png")
}

.list li p.r2-13 {
    background-image: url("../img/res2/r2-13.png")
}

.list li p.r2-14 {
    background-image: url("../img/res2/r2-14.png")
}

.list li p.r2-15 {
    background-image: url("../img/res2/r2-15.png")
}

.list li p.r2-16 {
    background-image: url("../img/res2/r2-16.png")
}

.list li p.r2-17 {
    background-image: url("../img/res2/r2-17.png")
}

.list li p.r2-18 {
    background-image: url("../img/res2/r2-18.png")
}

.list li p.r2-19 {
    background-image: url("../img/res2/r2-19.png")
}

.list li p.r2-20 {
    background-image: url("../img/res2/r2-20.png")
}

.list li p.r2-21 {
    background-image: url("../img/res2/r2-21.png")
}

.list li p.r2-22 {
    background-image: url("../img/res2/r2-22.png")
}

.list li p.r2-23 {
    background-image: url("../img/res2/r2-23.png")
}

.list li p.r2-24 {
    background-image: url("../img/res2/r2-24.png")
}

.list li p.r2-25 {
    background-image: url("../img/res2/r2-25.png")
}

.list li p.r2-26 {
    background-image: url("../img/res2/r2-26.png")
}

.list li p.r2-27 {
    background-image: url("../img/res2/r2-27.png")
}

.list li p.r2-28 {
    background-image: url("../img/res2/r2-28.png")
}

.list li p.r2-29 {
    background-image: url("../img/res2/r2-29.png")
}

.list li p.r2-30 {
    background-image: url("../img/res2/r2-30.png")
}

.list li p.r2-31 {
    background-image: url("../img/res2/r2-31.png")
}

.list li p.r2-32 {
    background-image: url("../img/res2/r2-32.png")
}

/** 图片右侧 **/
.list-right {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 40%;

}

.list-right .list-right-title {
    display: none;
    text-align: center;
    line-height: 200%;
}

.list-right .button-box p.button {
    display: block;
    width: 50%;
    margin: 20% auto 0 auto;
    transition: all 0.2s;
}
.list-right .button-box p.button.gray{
    background: #d1d1d1;
}

/** 游戏暂停 **/
.stop {
    position: absolute;
    bottom: 7%;
    right: 8%;
    width: 7.5%;

}

/**  游戏时间 **/
.time-box {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;

}

.time-box p {
    margin: 10% auto 0 auto;
    background: url("../img/daojishi.png") top center no-repeat;
    background-size: 100% 100%;
    color: #057b83;
}

.time-box p span {
    color: #057b83;
}